a {
    color: #48A9C5;
}

a:hover {
    color: rgba(72, 170, 197, 0.808);
}

.alert.alert-info {
    background-color: #48A9C5;
    border-color: #48A9C5;
}

.btn-primary {
    background-color: #2774AE;
    border-color: #2774AE;
}

.btn-primary:hover {
    background-color: #48A9C5;
    border-color: #48A9C5;
}

.btn-success {
    background-color: #53B390;
    border-color: #53B390;
}

.btn-success:hover {
    background-color: rgba(83, 179, 144, 0.75);
    border-color: rgba(83, 179, 144, 0.75);
}

.btn-info {
    background-color: #48A9C5;
    border-color: #48A9C5;
}

.btn-info:hover {
    background-color: rgba(72, 170, 197, 0.808);
    border-color: rgba(72, 170, 197, 0.808);
}

.primary-background {
    background-color: #2774AE;
}

@media (min-width: 1025px) {
    .kt-header, .kt-header .kt-header__bottom {
        background-color: #01426A;
    }

    /* Navbar button */
    .kt-header-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link {
        background-color: #B3D57D;
    }

    /* Navbar button hover */
    .kt-header-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--here > .kt-menu__link:hover {
        background-color: #b3d57dbe;
    }

    .kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
        color: white;
    }

    .kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu > .kt-menu__subnav > .kt-menu__item > .kt-menu__link .kt-menu__link-text:hover {
        background-color: #B3D57D;
    }
}

.kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-welcome {
    color: #c4c4c4;
}

.kt-footer .kt-footer__bottom .kt-footer__menu a:hover {
    background-color: #2774AE;
}

.nav-pills .nav-item .nav-link:active, .nav-pills .nav-item .nav-link.active, .nav-pills .nav-item .nav-link.active:hover {
    background-color: #2774AE;
}

.kt-footer .kt-footer__bottom {
    background-color: #01426A;
}

.multiselect__option--highlight {
    background-color: #2774AE;
}