html,
body {
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
  overflow-x: hidden;
}

h1 {
  font-size: 3em;
  font-family: "Poiret One", cursive;
}

a,
a::after {
  color: white;
}

a:hover {
  color: #d0d0d0;
}

/* Primary blue: #00426e */

footer {
  box-shadow: 0 -5px 5px 0 rgba(76, 82, 103, 0.1);
  padding: 50px 0;
  color: white;
}

footer.row {
  background-color: #00426e;
}

.banner {
  background-color: #52b391;
  text-align: center;
  padding: 50px 0;
  color: white;
}

.gallery .card-body {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  visibility: hidden;
  background-color: transparent;
  transition-duration: 0.2s;
  opacity: 0;
}

.gallery .card:hover .card-body {
  visibility: visible;
  background-color: #48a9c5 !important;
  opacity: 0.75;
}

/* Bootstrap Overrides */
.accordion-button {
  font-weight: bold;
}

.accordion-button:not(.collapsed) {
  color: #52b391;
  background-color: #52b39123;
  box-shadow: rgb(0 0 0 / 13%) 0px -1px 0px inset;
}

.carousel-caption {
  background-color: white;
  color: #00426e;
  opacity: 75%;
}

.col > .card {
  box-shadow: 0 0 15px 0 rgba(76, 82, 103, 0.4);
  text-align: center;
}

.card-img-top {
  margin-top: 10px;
}

.number {
  color: #b3d57d;
  font-weight: bold;
}

.bg-primary {
  background-color: #00426e !important;
}

.bg-secondary {
  background-color: #48a9c5 !important;
}

.bg-success {
  background-color: #52b391 !important;
}

.bg-info {
  background-color: #b3d57d !important;
}

.btn {
  padding: 10px 32px;
  border-width: 3px;
}

.btn-outline-light:hover {
  background-color: transparent;
}
