/* Primary blue: #00426e */

.banner {
  background-color: #52b391;
  padding: 50px 0;
  color: white;
}

footer {
  margin-top: 25px !important;
  padding: 50px 0;
  color: white;
}

footer.row {
  background-color: #00426e;
}

.card-img-top {
  margin-top: 10px;
}

.number {
  color: #b3d57d;
}
